/* Colors */
$side-background-color: #f5f5f2;
$menu-background-color: #333333;
$background-white: #ffffff;
$active-color: #04ae00;
$error-color: #ff0000;
$ok-button-color: #f58220;
$ok-button-hover-color: #ffa200;
$no-button-color: #979797;
$no-button-hover-color: #bababa;
$disabled-button: #e3e3e3;
$positive-notification: #96cc9b;
$positive-notification-hover: #74b67a;
$negative-notification: #ec7171;
$negative-notification-hoer: #de5252;
$Signups: #80bfca;
$links-color: #56819f;

/* Font sizes */
$paragraph-font-size: 16px;

/*fonts*/
$font: "Roboto", sans-serif;
