.button {
	border-radius: 3px;
	color: $background-white;
	text-align: center;
	padding: 13px 25px;
	font-family: $font;
	font-weight: 300;
	font-size: 18px;
	
	.okbutton {
		background-color: $ok-button-color;
		&:hover {
			backgorund-color: $ok-button-hover-color;
		}
	}
	.nobutton {
		background-color: $no-button-color;
		&:hover {
			background-color: $no-button-hover-color;
		}
	}
	.disabled{
		background-color: $disabled-button;
	}
}