.big_table {
	font-size: 13pt;
	font-family: $font;
	white-space: nowrap;

	.account {
		max-width: 150px;
	}

	.theading {
		display: inline-block;
		border-radius: 3px;
		padding: 8px;
		line-height: normal;
		@include hover {
			background-color: $side-background-color;
		}
	}

	.table_head {
		border: none;
		background-color: $white;
		text-align: left;
		font-size: 14pt;
		@include hover {
			background-color: $white;
			i {
				visibility: hidden;
			}
		}

		.icon-arrow-up-small {
			font-size: 8px;
			margin-left: 10px;
			padding-bottom: 4px;
			visibility: hidden;
			position: relative;
			top: -4px;
		}
		
		th {
			color: $grey;
			font-weight: 700;
			@include hover {
				color: $menu-background-color;
				i {
					visibility: visible;
				}
			}
		}
	}
	
	td {
		padding: 0 14px;
		font-weight: 300;
	}
}

@media(min-width: 768px) {
	.big_table {
		padding-left: 16px;
		padding-right: 16px;
		width: 100%;
	}
}