.button {
	border-radius: 3px;
	color: $white;
	font-family: $font;
	font-weight: 300;
	cursor: pointer;
	border: none;
}

.okbutton {
	background-color: $success-color;
	&:hover {
		background-color: $success-hover-color;
		transition-duration: 0.4s;
	}
}

.nobutton {
	background-color: $dark-grey;
	&:hover {
		background-color: $grey;
		transition-duration: 0.4s;
	}
}

.disabled{
	background-color: $light-grey;
	cursor: not-allowed;
}

.refresh_button {
	padding: 12px;
	font-size: 15px;
	margin-left: 13px;
}

.send_button {
	padding: 14px 28px;
	margin: 16px;
	font-size: 18px;
}

.add_button {
	padding: 12px 20px;
	margin: 24px 0;
	font-size: 18px;
}