input {
	color: $dark-grey;
	border-style: none;
	font-family: $font;
	cursor: pointer;
	height: 28px;
	outline: none;
}

.input_date {
	color: $menu-background-color;
	font-weight: 300;
	font-size: 15px;
}

.input_error {
	border-color: $error-color;
}

textarea {
	color: $dark-grey;
	border-style: none;
	font-family: $font;
	cursor: pointer;
}