.pagination {
	margin: 18px 0 38px 0;
	display: block;
	white-space: nowrap;
	a {
		text-decoration: none;
		font-family: $font;
		padding: 14px 20px;
	}

	.demo-icon {
		color: $grey;
	}

	.page_nr {
		color: $links-color;
		font-weight: 300;
		font-size: 17px;
		&:hover {
			background-color: $side-background-color;
			border-radius: 3px;
		}
	}

	.active {
		background-color: $side-background-color;
		border-radius: 3px;
		color: $grey;
		font-weight: 700; 
	}
}