.point {
	position: relative;
	border-radius: 50%;
}

.active-point {
	background-color: $active-color;
}

.blue-point {
	background-color: $links-color;
}

.orange-point {
	background-color: $success-color;
}

.green-point {
	background-color: $light-active-color;
}