* {
	box-sizing: border-box;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding: 30px;
	display: none;
}

.overlay.show {
	display: flex;
}

.overlay::webkit-scrollbar {
	display: none;
}

.modal {
	margin: auto;
	position: relative;
	padding: 30px;
	display: none;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 48px 42px;
}

.modal.show {
	display: block;
}

.small_box {
	background-color: $white;
}

.login_popup {
	
	div {
		margin:0;
	}

	.button {
		padding: 12px 62px;
		font-size: 20px;
	}

	input {
		color: $grey;
		font-family: $font;
		font-size: 15px;
		font-weight: 300;
		line-height: 42px;
	}

	.input_place {
		line-height: 42px;
	}

	.demo-icon {
		margin-left: 10px;
		margin-right: 13px;
		line-height: 42px;
		display: inline-block;
	}

	.icon-login {
		font-size: 15px;
	}

	.icon-password {
		font-size: 13px;
	}

	form {
		margin: 46px;
	}
}

.quit_popup {
	h1 {
		text-transform: none;
	}

	.nobutton{
		margin-right: 20px;
	}

	.buttons {
		display: flex;
		width: 100%;
		margin: 20px 20px 22px 20px;
		justify-content: flex-end;
	}
}

.chat_popup {
	width: 90vw;
	max-width: 1074px; 
	margin: auto;

	.popup_box {
		width: 100%;
	}

	h1 {
		margin-right: 40px;
	}
	
	p {
		font-size: 31px;
		font-weight: 500;
		color: $menu-background-color;
		display: block;
		margin: 0;
	}
	
	.av {
		width: 70px;
		height: 70px;
		align-items: center;
	}

	.status_chat {
		border-radius: 3px;
		background-color: $active-color;
		color: $white;
		display: inline-block;
		padding: 4px;
		font-family: $font;
		margin-top: 8px;
		font-size: 13px;
	}

	.av_section {
		padding: 10px 0 10px 16px;
		display: flex;
	}

	.av_name {
		display: inline-block;
		padding: 0 20px;
		align-items: center;
	}

	.conversation {
		padding: 16px;
	}

	.my_answer {
		padding: 16px;
		width: 100%;
		white-space: nowrap;
	}

	.position_for_i {
		position: relative;
		width: calc(100% - 114px);
		display: inline-block;
	}

	.send_button {
		display: inline-block;
		margin-left: 16px;
	}

	textarea {
		display: flex;
		resize: none;
		padding: 12px 14px 0 36px;
		font-size: 15px;
		font-weight: 300;
		font-family: $font;
		width: 100%;
	}

	.icon-message {
		margin-left: 8px;
		display: inline-block;
		position: absolute;
		top: 12px;
		font-size: 14px;
	}
}

@media(max-width: 991px) {
	.login_popup {

		.button {
			width: 100%;
			display:block;
		}

		.input_place {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			white-space: nowrap;
		}
	}

	.quit_popup {
		.small_box {
			width: 280px;
		}
	}

	.chat_popup {
		.conversation {
			height: 45vh;
		}
	}
}

@media(min-width: 992px) {
	.login_popup {
		max-width: 722px;

		.button {
			display: inline-block;
		}

		.input_place {
			margin-right: 18px;
			display: inline-block;
		}
	}

	.quit_popup {
		.small_box {
			width: 360px;
		}
	}

	.chat_popup {
		.conversation {
			height: 40vh;
			max-height: 318px;
		}
	}
}


