
.icon-arrow-down:before { content: '\e800'; } /* '' */
.icon-arrow-down-small:before { content: '\e801'; } /* '' */
.icon-arrow-left:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-arrow-up:before { content: '\e804'; } /* '' */
.icon-arrow-up-small:before { content: '\e805'; } /* '' */
.icon-banners:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-close:before { content: '\e808'; } /* '' */
.icon-details:before { content: '\e809'; } /* '' */
.icon-general:before { content: '\e80a'; } /* '' */
.icon-links:before { content: '\e80b'; } /* '' */
.icon-login:before { content: '\e80c'; } /* '' */
.icon-message:before { content: '\e80d'; } /* '' */
.icon-negative:before { content: '\e80e'; } /* '' */
.icon-notification:before { content: '\e80f'; } /* '' */
.icon-password:before { content: '\e810'; } /* '' */
.icon-payout:before { content: '\e811'; } /* '' */
.icon-personaldata:before { content: '\e812'; } /* '' */
.icon-positive:before { content: '\e813'; } /* '' */
.icon-postback:before { content: '\e814'; } /* '' */
.icon-profile:before { content: '\e815'; } /* '' */
.icon-quit:before { content: '\e816'; } /* '' */
.icon-refresh:before { content: '\e817'; } /* '' */
.icon-show:before { content: '\e818'; } /* '' */
.icon-trash:before { content: '\e819'; } /* '' */
.icon-url:before { content: '\e81a'; } /* '' */
.icon-wallet:before { content: '\e81b'; } /* '' */