.general_stat {
	width: 100%;
	
	.side-center {
		width: 687px
	}
	
	h2 {
		color: $dark-grey;
		display: inline-block;
	}

	p {
		color: $menu-background-color;
		display: inline-block;
		font-size: 16px;
		font-weight: 300;

	}
}