.side_menu {
	background-color: $menu-background-color;
	width: 54px;
	top: 0;

	.side_menu_top {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		width: 100%;
	}

	.logo {
		margin-left: 17px;
		line-height: 55px; 
		margin-top: 5px;
		display: inline-block;
	}

	.burger {
		margin-right: 16px;
		margin-left: 17px;
		line-height: 60px; 
		color: $dark-grey;
		display: inline-block;
	}

	h3 {
		color: $dark-grey;
		margin: 0 0 0 20px;
		line-height: 60px;
	}

	.av {
		display: inline-block;
	}

	.avatar {
		position: relative;
		display: inline-block;
	}

	.active-point {
		position: absolute;
		top: 0;
		right: 0;
	}

	.manage_name {
		color: $links-color;
		font-family: $font;
		font-weight: 300;
		font-size: 15px;
		margin: 0 0 0 12px;
		text-transform: none;
		line-height: 43px;
		display: inline-block;
	}

	.manager {
		display: flex;
	    align-items: center;
	    white-space: nowrap;
	}

	.list {
		margin-bottom: 25px;
		position: relative;
	}

	.subpage {
		position: absolute;
		white-space: nowrap;
	}

	.demo-icon {
		font-size: 15px
	}

	.icon-links {
		font-size: 10px;
	}

	a {
		margin-left: 10px;
	}

	li {
		display: block;
		border-left: 4px solid $menu-background-color;
		background-color: $menu-background-color;
	}

	.active {
		border-left: 4px solid $success-color;
		background-color: $dark-grey;
		a {
			color: $white;
		}
	}
}


@media(min-width: 768px) {
	.side_menu {
		left: 0;
		width: 54px;
		&:hover {
			width: 188px;
			.hidden {
				display: inline-block;
			}
			
			.av {
				height: 43px;
				width: 43px;
				margin-left: 20px;
			}
			
			.active-point {
				width: 12px;
				height: 12px;
			}
			
			.avatar {
				width: 63px;
				height: 43px;
				margin-top: 0;
			}

			.active {
				width: 188px;
				border-left: 4px solid $success-color;
				background-color: $dark-grey;
				a {
					color: $white;
				}
			}
		}

		.side_menu_sticky {
			position: sticky;
			top: 0;
		}

		.av {
			height: 30px;
			width: 30px;
			margin-left: 12px;
		}

		.avatar {
			width: 43px;
			height: 33px;
			margin-top: 23px;
		}

		.active-point {
			width: 8px;
			height: 8px;
		}

		.subpage {
			left: 47px;
		}

		.hidden {
			display: none;
		}

		li {
			width: 54px;
			&:hover {
				width: 188px;
				background-color: $dark-grey;
				border-left: 4px solid $dark-grey;
				a {
					color: $white;
				}
				.hidden {
					display: block;
				}		
			}
		}
	}
}

@media(max-width: 767px) {
	.side_menu {
		width: 100%;
		position: fixed;

		.side_menu_top {
			height: 60px;
		}

		.av {
			height: 43px;
			width: 43px;
			margin-left: 20px;
		}

		.avatar {
			width: 63px;
			height: 43px;
		}

		.active-point {
			width: 12px;
			height: 12px;
		}

		.manager {
		    margin-bottom: 22px;
		}

		.list {
			width: 100%;
		}

		.subpage {
			left: 50px;
		}
		
		a {
			width: 100%;
		}

		.mobile_menu {
			display: none;
		}
		
		.show_mobile_menu {
			display: block;
		}
	}	
}