.table {

	.content {
		padding-bottom: 22px;
	}

	table {
		border-collapse: collapse;
		border-bottom: 1px solid $light-grey;
		width: 100%;
	}

	.button {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	a {
		font-size: 17px;
		font-weight: 300;
		font-family: $font;
	}

	tr {
		border-top: 1px solid $light-grey;
		margin: 0;
		line-height: 58px;

		&:hover {
			cursor: pointer;
			background-color: $light-grey;
			i {
				visibility: visible;
			}
		}
	}

	td {
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	h2 {
		color: $grey;
		margin-left: 18px;
		white-space: nowrap;
		width: 50%;
	}
	
	.icon-links {
		color: $success-color;
		margin-right: 24px;
		visibility: hidden;
		font-size: 13px;
	}

	.icon-trash {
		color: $grey;
		margin-right: 24px;
		visibility: hidden;
		font-size: 19px;
	}
	
 	.table_margin_top {
		margin-top: 24px;
	}

	.table_head {
		border: none;
		background-color: $white;
		&:hover {
			background-color: $white;
			i {
				visibility: hidden;
			}
		}

		.icon-arrow-up-small {
			font-size: 10px;
			margin-left: 10px;
			padding-bottom: 4px;
			visibility: hidden;
		}
		
		th {
			color: $grey;
			font-size: 13pt;
			font-family: $font;
			font-weight: 700;
			white-space: nowrap;
			&:hover {
				color: $menu-background-color;
				background-color: $side-background-color;
				i {
					visibility: visible;
				}
			}
		}
		.width_class {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			display: flex;
			width: 100%;
		}
	}	
}