.top_menu {
	background-color: $white;
	width: 100%;

	.top_menu_content {
		box-sizing: border-box;
	}

	.top {
		line-height: 60px;
		margin: 0 10px;
		display: inline-block;
	}
	
	a {
		text-decoration: none;
	}

	.list_horizontal {
		height: 60px;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.wallet_click {
		position: relative;
	}

	.amount {
		font-size: 21px;
		font-family: $font;
		font-weight: 400;
		text-decoration: none;
		color: $dark-grey;
	}

	.demo-icon {
		color: $dark-grey;
	}

	.profile {
		display: flex;
		align-items: center;
		font-size: 17px;
	}

	.wallet {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}

	.icon-wallet {
		margin-right: 0;
		font-size: 18px;
		display: inline-block;
	}

	.icon-arrow-down {
		font-size: 8px;
		margin-left: 0;
		display: inline-block;
	}

	.icon-notification {
		font-size: 20px;
	}

	.icon-profile {
		margin-right: 0;
		font-size: 20px;
	}
	
	.orange-point {
		height: 8px;
		width: 8px;
		position: absolute;
		top: -4px;
		right: 14px;
	}

	.bell_point {
		position: relative;
	}

	.dropdown {
		background-color: $side-background-color;
		border-left: 1px solid $light-grey;
		border-right: 1px solid $light-grey;
		width: 100%;
		position: absolute;
		z-index: 3;
	}

	.down_row {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		width: 100%;
	}

	.underlist {
		font-size: 13px;
		font-family: $font;
		font-weight: 400;
		display: inline-block;
	}
	.charge {
		color: $dark-grey;
		margin: 8px 0 8px 20px;
	}

	.howmuch {
		color: $menu-background-color;
		margin: 8px 20px 8px 0;
	}
}

@media(max-width: 767px){
	.top_menu {
		position: absolute;
		bottom: 0;
		border-top: 1px solid $light-grey;
		height: 123px;
		max-width: 100%; 
		display: flex;
		margin: 0;

		.top_menu_content {
			white-space: normal;
			display: inline-block;
			width: 100%;
		}

		.list_horizontal {
			display: inline-block;
		}

		.icon-arrow-down {
			transform: rotate(180deg);
		}

		.dropdown {
			border-top: 1px solid $light-grey;
			padding-top: 18px;
		}

		.icon-arrow-down {
			margin-left: 10px;
		}

		.wallet {
			width: 100%;
		}

		.bell_mobile {
			display: inline-block;
		}

		#login-on {
			border-right: 1px solid $light-grey; 
			width: calc(100% - 80px);
		}

		.wallet_click {
			width: calc(100% - 80px);
			border-right: 1px solid $light-grey;
			display: inline-block;
			.dropdown {
				display: none;
			}
		}

		.show_wallet_click {
			background-color: $side-background-color;

			.icon-wallet{
				color: $menu-background-color;
			}

			.amount {
				color: $menu-background-color;
			}

			.icon-arrow-down {
				transform: rotate(180deg);
			}

			.dropdown {
				display: block;
				bottom: 60px;
			}
		}
	}
}

@media(min-width: 768px) {
	.top_menu {
		height: 60px;
		border-bottom: 1px solid $light-grey;

		.only_mobile {
			display: none;
		}

		.top_menu_content {
			display: flex;
			box-sizing: border-box;
			justify-content: flex-end;
			white-space: nowrap;
			width: 100%;
		}

		.list_horizontal {
			border-left: 1px solid $light-grey;
		}

		.icon-arrow-down {
			margin-left: 0;
		}

		.wallet_click {
			.dropdown {
				display: none;
			}
		}

		.dropdown {
			border-bottom: 1px solid $light-grey;
			padding-bottom: 18px;
		}

		.show_wallet_click {
			background-color: $side-background-color;

			.icon-wallet{
				color: $menu-background-color;
			}

			.amount {
				color: $menu-background-color;
			}

			.icon-arrow-down {
				transform: rotate(180deg);
			}

			.dropdown {
				display: block;
			}
		}

	}

}